.meal-modal {
  width: relative;
  height: 70rem;
}
.modal-dialog .meal-modal {
  background: #d28d08;
}
.modal-footer .btn {
  background: #790a0a;
}
.modal-footer .btn:hover {
  background: #790a0a;
}
.modal-footer .btn:focus {
  background: #790a0a;
}
.btnAddRemove .btn {
  background: #790a0a;
}
.btnAddRemove .btnAddRemove-positive .btn {
  background: #790a0a;
}
.form-check .form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}
.item-modal {
  position: relative;
  justify-items: center;
  text-align: center;
  flex-direction: column;
  display: flex;
}
.meal-modal-text {
  font-size: 30px;
  color: black;
}

#type-form {
  text-align: right;
  margin: 25px auto;
  color: black;
  font-size: 18px;
}
.card-meal-image {
  border-radius: 10px;
}
